.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: beige;
}

.login-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
}
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
}
.form-wrapper form {
  display: flex;
  flex-direction: column;
}

.form-wrapper form button div {
  margin-right: 5px;
}
.btn {
  font-weight: bold;
}
.login-bg h1 {
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  margin: 20px;
  font-family: 'Pacifico', cursive;
}

.form-input {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.form-input input {
  width: 300px;
  height: 30px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 10px;
}
