/* Sidebar styles */
.sidebar-container {
  display: flex;
  height: 100%;
  width: 200px;
  background-color: #343a40;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-list {
  padding: 0;
  width: 100%;
  height: auto;
}

/* Sidebar item styles */

.sidebar-logout {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 10px 5px;
  font-size: 16px;
  color: white;
  transition: 0.3s;
  font-weight: bold;
}
.sidebar-item {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding: 10px 5px;
  font-size: 16px;
  color: white;
  transition: 0.3s;
  font-weight: bold;
}
.sidebar-item div,
.sidebar-logout div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 10px;
  color: white;
}

.sidebar-item:hover {
  cursor: pointer;
  background-color: #555;
}

/* Submenu styles */
.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #808080;
  color: white;
  text-decoration: none;
  list-style-type: circle;
}

.submenu li {
  margin: 10px 0;
}

.submenu.show {
  max-height: 500px;
}

/* Text color styles */
.sidebar-item,
.submenu a {
  text-decoration: none;
  color: #3b4249;
}

.sidebar-item:active,
.sidebar-item:focus,
.submenu a:active,
.submenu a:focus,
.submenu a:hover {
  color: white;
}

/* Logout styles */
.sidebar-logout {
  cursor: pointer;
}

.sidebar-logout:hover {
  background-color: #555;
}

.sidebar-logout div {
  color: #ff4500;
}
