.sidebar-container {
  display: flex;
  height: 100%;
  width: 200px;
  background-color: #343a40;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-list {
  padding: 0;
  width: 100%;
  height: auto;
}

.sidebar-item,
.sidebar-logout {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 10px 5px;
  font-size: 16px;
  color: white;
  transition: 0.3s;
  font-weight: bold;
}

.sidebar-item div,
.sidebar-logout div {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: white;
}

.sidebar-item:hover {
  cursor: pointer;
  background-color: #555;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #808080; /* gray background */
  color: white; /* text color */
  text-decoration: none; /* remove underline */
  list-style-type: circle; /* remove list decoration */
}

.submenu li {
  margin: 10px 0; /* adjust as needed */
}

.submenu.show {
  max-height: 500px;
}

/* Darker color for non-clicked text */
.sidebar-item,
.submenu a {
  text-decoration: none;
  color: #3b4249; /* adjust as needed */
}

/* White color for clicked text */
.sidebar-item:active,
.sidebar-item:focus,
.submenu a:active,
.submenu a:focus,
.submenu a:hover {
  color: white;
}

.sidebar-logout a {
  display: flex;
  text-decoration: none;
  color: red;
}
